<%= render 'classroom' %>

<h3>All students of this classroom:</h3>
<%- @classroom.students.each do |student| %>
 <%= render partial: 'students/student', locals: {student: student} %>
 

Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>
